.alice-carousel__dots {
    display: none;
}


.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
    color: #A9A9A9;
    transition: .2s ease-in-out;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    cursor: pointer;
    color: #737373;
    font-size: 90px;
    text-align: center;
    transition: .2s ease-in-out;
}

.alice-carousel__prev-btn {
    position: absolute;
    top: 25%;
    left: -50px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1030px) {
        display: none;
    }
}

.alice-carousel__next-btn {
    position: absolute;
    top: 25%;
    right: -50px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1030px) {
        display: none;
    }
}



